<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>sign up and log in</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/normalize.min.css">


    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        body{
            font-family: Gabriola;
            background-size:100%;
            background-image: url("https://media1.s-nbcnews.com/j/MSNBC/Components/Video/201712/1920_baby_dog_Screen_Shot_2017-12-05_at_2-18-56_PM.today-vid-canonical-featured-desktop.jpg");
        }
    </style>
</head>

<body>


    <div class="form">

        <h1>Dog  grooming   express</h1>
        <div id="signup">

        <a href="{% url 'register' %}">
            <button  class="button button-block"/>Register now</button>
        </a>


    </div>

    <div id="login">
        <h1></h1>

        <a href="{% url 'login' %}">
            <button  class="button button-block"/>Log In</button>
        </a>

        <a href="admin">login as admin</a>
    </div>


</div><!-- tab-content -->

</div> <!-- /form -->

</body>
</html>
