{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}

        <p> Hello there, {{user.get_username}} </p>
        <p>Hi, there. Welcome to the Dog Grooming website.</p>
        <li> <a href="{% url 'logout' %}">Logout</a> </li>

    {% else %}

        <p>Hi, there. Welcome to the Dog Grooming website.</p>
        <p>Please signin or signup</p>
        <li> <a href="{% url 'register' %}">Register</a> </li>
        <li> <a href="{% url 'login' %}">Login</a> </li>

    {% endif %}

{% endblock %}
